{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if not all_recipes %}
      <p class="no-articles">There are currently no recipes available.</p>
    {% else %}
      <section id="catalogue">
      {% for recipe in all_recipes %}
        <div class="recipe-card">
         {% if not recipe.image_url %}
          <div class="image-wrap">
            <img
              class="recipe-img"
              src="{% static  'images/default_recipe_img.png'%}"
              alt="recipe image"
            />
          </div>
         {% else %}
             <div class="image-wrap">
                <img
                  class="recipe-img"
                  src="{{ recipe.image_url}}"
                  alt="{{ recipe.title}}"
                />
            </div>
         {% endif %}
          <!-- recipe title -->
          <h3>{{ recipe.title}}</h3>
          <!-- recipe cooking time -->
          <h1>Cooking time: {{ recipe.cooking_time }}min.</h1>
          <!-- recipe instructions -->
          <h1>{{ recipe.instructions|slice:":35"}}</h1>
          <div class="details-buttons">
            <!-- recipe details button -->
            <a href="" class="details-btn">Details</a>
          </div>
        </div>
      {% endfor %}
      </section>

    {% endif %}

{% endblock %}
